html {
  background-color: rgb(27, 26, 26);
}

#time {
  background-color: rgb(27, 26, 26);
  color: white;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.hidden {
  display: none;
}

#containsAll {
  position: relative;
  background-color: rgb(27, 26, 26);
}

#input {
  padding-right: 0.75rem;
  width: 100%;
}

#inputContainer {
  padding-left: 0;
  padding-right: 0;
}

#button {
  margin-left: 1rem;
}